.slider {margin: 10px 0;
        width: 670px;
        height: 350px;
        position: relative;
        overflow: hidden;
        }

.slider li {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

img {width: 670px;
    height: 350px;}